body {
  background-color: #FF9530;
}

button {
  border: 2px solid grey;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #29FCFF;
  font-size: 8px;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}

button:hover {
  background-color: grey;
  color: #29FCFF;
}